body{
  margin-left: 50px;
}
.subscribe{
  background-color: rgb(250, 51, 51);
  color:rgb(255, 255, 255);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
  font-weight: 550;
  border: none;
  cursor: pointer;
}

.body1{
  text-align: center;
  font-family: montserrat;
  font-weight: bold;
}

span{
  text-decoration: underline;
}

.water-image1{
  width: 200px;
  border-radius: 10px;
}

.water-image2{
  width: 125px;
  height: 125px;
  object-position: center;
  margin: 0px 200px;
}

.water-image3{
  width: 125px;
  height: 125px;
  object-position: center;
  border-radius: 100px;
}

.body2{
  margin: 40px 0px;
}

#search{
  font-size: 20px;
  font-family: montserra;
  font-weight: lighter;
  padding: 7px 0px 7px 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
}
#google{
  font-size: 20px;
  font-family: montserra;
  font-weight: lighter;
  padding: 7px 0px 7px 10px;
  border-radius: 20px;
  border-style: solid;
  border-width: 0.5px;
  width: 450px;
  margin-left: 30px;
}
p{
  font-size: 15px;
}
p > button{
  border-radius: 20px;
  background-color: blue;
  color: white;
  padding: 10px 120px 10px 120px;
  font-size: 20px;
  border: none;
}

.water-image4{
  vertical-align: middle;
  width: 125px;
  height: 125px;
  object-position: center;
  border-radius: 100px;
}

.survey-question{
  font-size: 20px;
  width: 250px;
  display: inline-block;
  vertical-align: middle;
}
.google-logo{
  display: block;
  margin-left: 600px;
}
.google-input{
  margin-left: 450px;
  width: 600px;
  border-radius: 30px;
  padding: 10px 40px 10px 15px;
  font-size: 17px;
  border: 1px solid rgb(194, 190, 190);

}

.google-input:hover{
  box-shadow: -0px -0px 5px 1px rgba(155, 149, 149, 0.562);
}
.sign-up{
  width: 500px;
}
.sign-up>input{
  margin: 10px 0px;
  padding: 10px 10px;
  display: inline-block;
  border-radius: 10px;
  border-width: 0.1px;

}
.email-input{
  width: 365px;
  display: block;
  margin: 10px 0px;
  padding: 10px 10px;
  border-radius: 10px;
  border-width: 0.1px;
}

.sign-up > button{
  border-radius: 10px;
  background-color: blue;
  color: white;
  padding: 15px 10px 15px 10px;
  font-size: 20px;
  border: none;
  width: 385px;
}
.request{
  margin: 30px 0px;
  font-family: arial;
}
.request>input{
  display: block;
  margin: 10px 0px;
  font-size: 15px;
  padding: 8px 10px;
  width: 300px;
  background-color: rgba(239, 242, 245, 0.747);
  border: none;
}

.request>button{
  display: inline-block;
  margin: 10px 0px;
  font-size: 14px;
  padding: 10px 14px;
  font-weight: bold;
  border: none;
}
#request-button{
  background-color: black;
  color: white;
  margin: 0px 15px 0px 0px;
}
.twitter{
  border: 1px solid black;
  width: 450px;
  height: 60px;
  padding: 30px 0px 10px 10px;
  box-shadow: 1px 1px 5px 5px rgba(185, 183, 183, 0.288);
  border: none;
}
  

.twitter>img{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  vertical-align: middle;
}
.tweet-button{
  border-radius: 100px;
  background-color: rgba(0, 0, 255, 0.753);
  color: white;
  padding: 8px 18px;
  font-size: 15px;
  font-weight: bolder;
  border: none;
  margin-left: 130px;

}
.happen{
  text-decoration: none;
  margin-left: 10px;
  font-size: 20px;
}
.friends{
  width: 616px;
  height: 275px;
  border: 1px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
}

.friends>div{
  display: inline-block;
  margin: 10px 10px;
  border: 1px solid black;
  height: 255px;
  box-shadow: 1px 1px 5px 1px rgb(202, 197, 197);
  border: none;
}

.friends>div>img{
  width: 180px;
  height: 155px;
}

.friends>div>p>span{
text-decoration: none;
font-size: 15px;
font-weight:lighter;
margin: 0px 0px 0px 10px;
}
.friends>div>p>b{
margin: 0px 0px 0px 10px;
}

.friends>div>button{
background-color: blue;
border: none;
margin: 0px 0px 30px 10px;
padding: 5px 10px 5px 10px;
color: white;
}